<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="com.springcore.student" name="student">
    <property name="studentId">
        <value>2234</value>
    </property>


    <property name="studetName">
        <value>Anmol Singh</value>
    </property>

    <property name="studentAddress">
        <value> Sault ste marie</value>
    </property>

</bean>

</beans>